.header {
  width: 100%;
  height: 200px;
  background: red;
}

.left, .right {
  width: 10%;
  height: 800px;
  background: yellow;
  display: inline-block;
  float: left;
}

.middle {
  width: 80%;
  display: inline-block;
  float: left;
}

.middle .top {
  height: 800px;
  background: blue;
}

.middle .bottom {
  height: 100px;
  background: green;
}
